# build MAVProxy for windows

pr:
  autoCancel: true

jobs:

- job: 'Windows'
  pool:
    vmImage: 'windows-latest'
  strategy:
    matrix:
      Python39:
        python.version: '3.9'
        pyinstaller.version: 'pyinstaller'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: python -m pip install --upgrade pip
    displayName: 'Install dependencies'

  - script: pip install $(pyinstaller.version)
    name: 'pyinstaller'

  # we force numpy 1.19.3 because of this issue: https://developercommunity.visualstudio.com/content/problem/1207405/fmod-after-an-update-to-windows-2004-is-causing-a.html
  - script: python -m pip install pywin32 lxml pymavlink numpy==1.19.3 matplotlib==3.2.2 pyserial opencv-python PyYAML Pygame Pillow wxpython scipy tornado
    name: 'pip_install1'

  - script: python -m pip install pyinstaller setuptools packaging --no-use-pep517
    name: 'pip_install2'

  - script: python -m pip list
    name: 'pip_list'

  - script: python setup.py build install
    name: 'build_install'

  - script: copy ..\windows\mavproxy.spec
    name: 'CopySpec'
    workingDirectory: MAVProxy

  - script: pyinstaller --noconfirm --clean mavproxy.spec
    name: 'build'
    workingDirectory: MAVProxy

  - script: python windows\downloadParams.py
    name: 'DownloadParameters'

  - script: python createISCCCmd.py
    name: 'CreateISCCCommand'
    workingDirectory: windows

  - script: run_ISCC.cmd
    name: 'runISCC'
    workingDirectory: windows

  - task: CopyFiles@1
    inputs:
      contents: 'windows\output\**'
      targetFolder: $(Build.ArtifactStagingDirectory)

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: $(Build.ArtifactStagingDirectory)
      artifactName: MAVProxyWindowsInstaller
