[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -c 'cd ~/MAVProxy_data ;mavproxy.py --console --map'
Name=MAVProxy
Icon=mavproxy
Comment=MAVProxy GCS

