Source: mavproxy
Section: python
Priority: optional
Maintainer: Andrii Beregovenko <jet@jet.kiev.ua>
Build-Depends: debhelper (>= 10),
  dh-python,
  python3-all-dev (>= 3.3.3),
  libxml2-dev, libxslt1-dev, zlib1g-dev,
  python3-setuptools (>= 0.6.29),
  python3-numpy,
  python3-pytest,
X-Python-Version: all
Standards-Version: 4.5.1
Homepage: https://github.com/ArduPilot/MAVProxy

Package: python3-mavproxy
Architecture: any
Multi-Arch: same
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python3:Provides}
Description: MAVProxy is oriented towards command line operation
 A MAVLink protocol proxy and ground station. MAVProxy is oriented
 towards command line operation, and is suitable for embedding in
 small autonomous vehicles or for using on ground control stations.
 It also features a number of graphical tools such as a slipmap for
 satellite mapping view of the vehicles location, and status console
 and several useful vehicle control modules. MAVProxy is extensible
 via a modules system - see the modules subdirectory for some example
 modules. MAVProxy was developed by CanberraUAV for use in the 2012
 Outback Challenge, and includes a module for the CanberraUAV search
 and rescue system.
 .
 See https://ardupilot.org/mavproxy/index.html for more information
 on how to use MAVProxy.